body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: silver;
  border-radius: 30px;
  padding: 30px;
  height: 500px;
  width: 400px;
}

#display {
  background-color: #949a79;
  width: 100%;
  height: 75px;
  font-size: x-large;
  text-align: right;
  margin-bottom: 10px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
}